Pictures/wallpapers/*.gif
Pictures/wallpapers/preconvert
Pictures/Screenshots/*

.config/hypr/wallpaper_effects/*
!.local/share/rofi/
!.local/share/rofi/**
.local/state/noctalia/*
!.local/state/noctalia/settings.toml
