$foreground: #e9e1d7;
$background: rgba(0,0,0,0.5);
$background_transparent : #16130d;

$selected: #003257;
$primary: #ffe9b9;
$secondary: #d8c59a;
$tertiary: #dfecff;
$primary_container: #efcb70;

$outline: #99907e;
$source: #efcb70;
