$foreground: #e5e1e2;
$background: rgba(0,0,0,0.5);
$background_transparent : #141314;

$selected: #333027;
$primary: #c9c5cc;
$secondary: #c9c5c8;
$tertiary: #ccc6b8;
$primary_container: #0a090e;

$outline: #938f95;
$source: #0a090e;
