$foreground: #f1dedc;
$background: rgba(0,0,0,0.5);
$background_transparent : #1a1110;

$selected: #3f2e04;
$primary: #ffb4aa;
$secondary: #e7bdb7;
$tertiary: #dfc38c;
$primary_container: #73342d;

$outline: #a08c8a;
$source: #e20815;
