$foreground: {{colors.on_surface.default.hex}};
$background: rgba(0,0,0,0.5);
$background_transparent : {{colors.surface.default.hex }};

$selected: {{colors.on_tertiary.dark.hex}};
$primary: {{ colors.primary.default.hex }};
$secondary: {{ colors.secondary.default.hex }};
$tertiary: {{ colors.tertiary.default.hex }};
$primary_container: {{ colors.primary_container.default.hex}};

$outline: {{colors.outline.default.hex}};
$source: {{colors.source_color.default.hex}};
